<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign_in_container">
    <mat-form-field appearance="outline" class="user_name_field">
        <mat-label>Enter User Name</mat-label>
        <input matInput placeholder="user name" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="pwd_field">
        <mat-label>Enter Password</mat-label>
        <input matInput placeholder="password" formControlName="password" type="password">
        <mat-error>{{errorMessage}}</mat-error>
      </mat-form-field>
      <button mat-flat-button class="sign_in_btn" color="primary" type="submit">SIGN IN</button>
      <div class="sign_up_container">
        <span class="sign_up_text">Don't have an account?</span>
        <button mat-button color="warn" class="sign_up_btn" [routerLink]="['/signup']">Sign Up</button>
      </div>
</form>

