.gallery_input_container {
    display: grid;
    grid-template-columns: auto auto 5% auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.gallery_input_field {
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery_input_button {
    grid-column-start: 4;
    grid-column-end: 5;
}